* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    border: 1px solid white;
    background-image: url('./eo.png');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 42.9vw;
    height: 42.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 12vw;
    padding: 8vh 2rem 0;
    text-shadow: 0.2vw 0.2vw #3f3f3f;
}

h2 {
    font-size: 7.5vw;
    padding: 0 2rem;
    text-shadow: 0.2vw 0.2vw #3f3f3f;
}

h3 {
    font-size: 2vw;
    padding: 9vw 2rem 0;
    text-shadow: 0.15vw 0.15vw #272727;
}

h4 {
    font-size: 2vw;
    text-shadow: 0.15vw 0.15vw #272727;
}

@media screen and (max-width: 406px) and (min-width: 300px) {
    h1 {
    font-size: 10vw;
    padding: 3vh 0 0;
    }

    h2 {
        font-size: 7vw;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2vw;
        padding: 10vw 2rem 0;
    }
}

@media screen and (max-width: 486px) and (min-width: 407px) {
    h1 {
    font-size: 11vw;
    padding: 3vh 0 0;
    }

    h2 {
        font-size: 7vw;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2vw;
        padding: 10vw 2rem 0;
    }
}

@media screen and (max-width: 585px) and (min-width: 487px) {
    h1 {
    font-size: 12vw;
    padding: 5vh 0 0;
    }

    h2 {
        font-size: 7vw;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2vw;
        padding: 8vw 2rem 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 586px) {
    h1 {
    font-size: 12vw;
    padding: 5vh 0 0;
    }

    h2 {
        font-size: 7vw;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2vw;
        padding: 9vw 2rem 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    h1 {
    font-size: 12vw;
    padding: 5vh 0 0;
    }

    h2 {
        font-size: 7vw;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2vw;
        padding: 10vw 2rem 0;
    }
}
